

/* Default */


h2 {
    font-size: 3vw;
    font-family: 'Geist', sans-serif;
}

p {
    font-size: 1.5vw;
    font-family: 'Geist', sans-serif;
}

h3 {
    font-size: 2vw;
    font-family: 'Geist', sans-serif;
}

@font-face {
    font-family: 'Geist';
    src: url('../assets/webfonts'); /* IE9 Compat Modes */
    src: url('../assets/webfonts?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/webfonts/Geist-Regular.woff2') format('woff2'); /* Super Modern Browsers */
    /*url('fonts/meinfont.woff') format('woff'), !* Modern Browsers *!*/
    /*url('fonts/meinfont.ttf') format('truetype'), !* Safari, Android, iOS *!*/
    /*url('fonts/meinfont.svg#meinfont') format('svg'); !* Legacy iOS *!*/
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Geist', sans-serif;
}



/* End Default */


.header {
    display: flex;
    border: lightslategray solid 1px;
    padding: 10px;
    font-size: 2vw;
}

.header__logo {
    justify-items: flex-start;
    align-items: flex-start;
    padding-right: 50%;
}

.header__menu {
    display: flex;
    flex: auto;
    justify-content: space-around;
}

.header__about {

}

.header__work {

}

.header__contact {

}

.hero {
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
    margin-bottom: 5%;
}

.hero__leftside {
    margin: 0 5% 5% 5%
}

.hero__rightside {
    display: flex;

}

.hero__text {
    display: flex;
    font-size: 4vh;

}

.hero__img {
    width: 30vw;
    height: auto;
    border-radius: 25%;
}

.Portfolio {
}

.Portfolio__Projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Portfolio__img {
    width: 35vw;
    height: auto;
    border-radius: 30%;
}

.Portfolio__Projektname {
    margin: 5px 0 0 0;
}

.Portfolio__Projectdesciption {
    margin: 0 0 5% 0;
}

.About-me__text-wrapper {
    margin-bottom: 5%;
    margin-left: 5%;

}

.About-me__picture-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.About-me__img {
    width: 15vw;
    height: auto;
    border-radius: 30%;
}


.Contact-me__social-profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin-top: 2%;
}

.Contact-me__header {
    margin: 5% 0 0 0;
    padding: 0;
            }

.Contact-me__LinkedIn {
    border: grey solid 1px;
    width: 18vw;
    padding: 5px;
}

.Contact-me__GitHub {
    border: grey solid 1px;
    width: 18vw;
    padding: 5px;

}

.Contact-me__Email {
    border: grey solid 1px;
    width: 18vw;
    padding: 5px;

}

.Contact-me__headerwrapper {
    justify-content:flex-end ;
    display: flex;
}

.Portfolio__icon {
    width: 5vw;
    height: auto;
    padding: 0;
    margin-left: 5%;

}


.About-me__heading-wrapper{
    font-size: 20px;
    padding-left: 5%;
}

.About-me__heading {
    margin: 0;
    padding: 0;
}

.Portfolio__iconwrapper {
    margin: 0;
    padding: 0;
}

.Portfolio__heading {
    font-size: 20px;
    padding-left: 5%;
}

.Contact-me__text {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.Footer {
    margin-top: 5%;
}

.Footer__line {
    width: 30%;
}

.text__wrapper {
    display: flex;
    justify-content: space-evenly;
}

.footer__text {

}